body {
    background-color: rgb(226, 220, 220) ;
}

.navbar {
    background-color: rgb(200, 193, 193) !important;
}

.navbar .navbar-brand {
    color: rgb(29, 26, 172);
}

.navbar .navbar-brand:hover {
    color: rgb(253, 253, 253);
}

.navbar .navbar-nav a {
    color:rgb(22, 21, 21) !important;
}

.navbar .navbar-nav a:hover {
    color:rgb(29, 26, 172) !important;
}